@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@400;500;600&display=swap');

#root {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Mukta', 'Times New Roman', Times, serif;
    
  }